@charset "UTF-8";
/* ---------------------------------------------------------- */
/* variables s ============================================== */
/* variables e ============================================== */
/* ---------------------------------------------------------- */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* mixin s ================================================== */
/* mixin e ================================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* buttons s ================================================ */
.btnstl { display: inline-block; margin-left: 1%; height: 35px; line-height: 35px; font-size: 13px; color: #333; text-align: center; }

.btnstl:first-child { margin-left: 0; }

.btnstl span { display: block; line-height: 33px; }

.btnstl2 { display: inline-block; margin-left: 1%; height: 40px; line-height: 40px; font-size: 14px; color: #333; text-align: left; }

.btnstl2:first-child { margin-left: 0; }

.btnstl2 span { display: block; line-height: 38px; }

.btnstl3 { display: inline-block; margin-left: 1%; height: 40px; line-height: 40px; font-size: 14px; font-weight: 400; color: #333; text-align: center; }

.btnstl3:first-child { margin-left: 0; }

.btnstl3 span { display: block; line-height: 37px; }

.btnstl4 { display: inline-block; margin-left: 1%; height: 80px; font-size: 16px; font-weight: 600; color: #333; text-align: center; }

.btnstl4:first-child { margin-left: 0; }

.btnstl4 span { display: block; padding-top: 5px; font-size: 12px; color: #888; }

.btnstl4 .btnstl5 { display: inline-block; margin-left: 1%; padding: 8px 0; font-size: 16px; font-weight: 600; color: #333; text-align: left; }

.btnstl4 .btnstl5:first-child { margin-left: 0; }

.btnstl6 { display: inline-block; margin-left: 1%; height: 50px; line-height: 50px; font-size: 16px; font-weight: 400; color: #333; text-align: center; }

.btnstl6:first-child { margin-left: 0; }

.btnstl6 span { display: block; line-height: 47px; }

.btnstl7 { display: inline-block; width: 150px; height: 32px; line-height: 32px; font-size: 13px; font-weight: 400; color: #333; text-align: center; border: 1px solid #ddd; }

.border_btn { display: inline-block; padding: 5px 26px 5px 15px; font-size: 13px; color: #666; border: 1px solid #f1f1f1; background: url("../../images/common/arr_down_10_gray.png") no-repeat 80% 50%; background-size: 10px; }

.border_btn.on { background: url("../../images/common/arr_up_10_gray.png") no-repeat 80% 50%; background-size: 10px; }

.border_btn_gray { background: #fff; border: 1px solid #ddd; }

.border_btn_blk { background: #fff; border: 1px solid #222; }

.border_btn_plus { padding: 0 10px; background: #fff url("../../images/common/ico_plus_gray.png") no-repeat 97% 50%; -webkit-background-size: 11px auto; -khtml-background-size: 11px auto; -moz-background-size: 11px auto; -ms-background-size: 11px auto; -o-background-size: 11px auto; background-size: 11px auto; border: 1px solid #f1f1f1; }

.arrow_btn { padding-right: 15px; background: url("../../images/common/arr_right_5_black.png") no-repeat 100% 50%; -webkit-background-size: 5px auto; -khtml-background-size: 5px auto; -moz-background-size: 5px auto; -ms-background-size: 5px auto; -o-background-size: 5px auto; background-size: 5px auto; }

.solid_btn_gray { color: #fff !important; background: #444; border: 1px solid #444; }

.solid_btn_blk { color: #fff !important; background: #222; border: 1px solid #222; }

.solid_btn_point { color: #fff !important; background: #8dbb6a; border: 1px solid #8dbb6a; }

.text_btn, .text_btn:hover, .text_btn:focus { line-height: 1; text-decoration: underline; }

.btn_wrap { width: 100%; }

.btn_wrap li { display: inline-block; }

.btn_wrap:after { display: block; clear: both; content: ''; }

.btn_wrap.btn_wrap_div1 li { margin-top: 10px; width: 100%; }

.btn_wrap.btn_wrap_div1 li:first-child { margin-top: 0; }

.btn_wrap.btn_wrap_div1 .btnstl, .btn_wrap.btn_wrap_div1 .btnstl2, .btn_wrap.btn_wrap_div1 .btnstl3, .btn_wrap.btn_wrap_div1 .btnstl4, .btn_wrap.btn_wrap_div1 .btnstl5, .btn_wrap.btn_wrap_div1 .btnstl6 { width: 100%; }

.btn_wrap.btn_wrap_div2 .btnstl, .btn_wrap.btn_wrap_div2 .btnstl2, .btn_wrap.btn_wrap_div2 .btnstl3, .btn_wrap.btn_wrap_div2 .btnstl4, .btn_wrap.btn_wrap_div2 .btnstl5, .btn_wrap.btn_wrap_div2 .btnstl6 { float: left; width: calc(50% - 2.5px); margin-left: 5px; }

.btn_wrap.btn_wrap_div2 .btnstl:nth-child(2n+1), .btn_wrap.btn_wrap_div2 .btnstl2:nth-child(2n+1), .btn_wrap.btn_wrap_div2 .btnstl3:nth-child(2n+1), .btn_wrap.btn_wrap_div2 .btnstl4:nth-child(2n+1), .btn_wrap.btn_wrap_div2 .btnstl5:nth-child(2n+1), .btn_wrap.btn_wrap_div2 .btnstl6:nth-child(2n+1) { margin-left: 0; }

.btn_wrap.btn_wrap_div2 .btnstl:nth-child(n+3), .btn_wrap.btn_wrap_div2 .btnstl2:nth-child(n+3), .btn_wrap.btn_wrap_div2 .btnstl3:nth-child(n+3), .btn_wrap.btn_wrap_div2 .btnstl4:nth-child(n+3), .btn_wrap.btn_wrap_div2 .btnstl5:nth-child(n+3), .btn_wrap.btn_wrap_div2 .btnstl6:nth-child(n+3) { margin-top: 1%; }

.btn_wrap.btn_wrap_div3 .btnstl, .btn_wrap.btn_wrap_div3 .btnstl2, .btn_wrap.btn_wrap_div3 .btnstl3, .btn_wrap.btn_wrap_div3 .btnstl4, .btn_wrap.btn_wrap_div3 .btnstl5, .btn_wrap.btn_wrap_div3 .btnstl6 { float: left; width: calc(33.33% - 3.4px); margin-left: 5px; }

.btn_wrap.btn_wrap_div3 .btnstl:nth-child(3n+1), .btn_wrap.btn_wrap_div3 .btnstl2:nth-child(3n+1), .btn_wrap.btn_wrap_div3 .btnstl3:nth-child(3n+1), .btn_wrap.btn_wrap_div3 .btnstl4:nth-child(3n+1), .btn_wrap.btn_wrap_div3 .btnstl5:nth-child(3n+1), .btn_wrap.btn_wrap_div3 .btnstl6:nth-child(3n+1) { margin-left: 0; }

.btn_wrap.btn_wrap_div3 .btnstl:nth-child(n+4), .btn_wrap.btn_wrap_div3 .btnstl2:nth-child(n+4), .btn_wrap.btn_wrap_div3 .btnstl3:nth-child(n+4), .btn_wrap.btn_wrap_div3 .btnstl4:nth-child(n+4), .btn_wrap.btn_wrap_div3 .btnstl5:nth-child(n+4), .btn_wrap.btn_wrap_div3 .btnstl6:nth-child(n+4) { margin-top: 1%; }

.btn_wrap.btn_wrap_div3.except .btnstl:nth-child(1) { width: calc(40% - 3.4px); }

.btn_wrap.btn_wrap_div3.except .btnstl:nth-child(2) { width: calc(30% - 3.4px); }

.btn_wrap.btn_wrap_div3.except .btnstl:nth-child(3) { width: calc(30% - 3.4px); }

.btn_wrap.btn_wrap_div4 .btnstl, .btn_wrap.btn_wrap_div4 .btnstl2, .btn_wrap.btn_wrap_div4 .btnstl3, .btn_wrap.btn_wrap_div4 .btnstl4, .btn_wrap.btn_wrap_div4 .btnstl5, .btn_wrap.btn_wrap_div4 .btnstl6 { float: left; width: calc(25% - 3.75px); margin-left: 5px; }

.btn_wrap.btn_wrap_div4 .btnstl:nth-child(4n+1), .btn_wrap.btn_wrap_div4 .btnstl2:nth-child(4n+1), .btn_wrap.btn_wrap_div4 .btnstl3:nth-child(4n+1), .btn_wrap.btn_wrap_div4 .btnstl4:nth-child(4n+1), .btn_wrap.btn_wrap_div4 .btnstl5:nth-child(4n+1), .btn_wrap.btn_wrap_div4 .btnstl6:nth-child(4n+1) { margin-left: 0; }

.btn_wrap.btn_wrap_div4 .btnstl:nth-child(n+5), .btn_wrap.btn_wrap_div4 .btnstl2:nth-child(n+5), .btn_wrap.btn_wrap_div4 .btnstl3:nth-child(n+5), .btn_wrap.btn_wrap_div4 .btnstl4:nth-child(n+5), .btn_wrap.btn_wrap_div4 .btnstl5:nth-child(n+5), .btn_wrap.btn_wrap_div4 .btnstl6:nth-child(n+5) { margin-top: 1%; }

.btn_wrap.btn_wrap_div_share .btnstl, .btn_wrap.btn_wrap_div_share .btnstl2, .btn_wrap.btn_wrap_div_share .btnstl3, .btn_wrap.btn_wrap_div_share .btnstl4, .btn_wrap.btn_wrap_div_share .btnstl5, .btn_wrap.btn_wrap_div_share .btnstl6 { float: right; width: calc(100% - 50px); }

.btn_wrap.btn_wrap_div_share .btn_share { float: left; width: 45px; }

.icon_btn { display: inline-block; width: 18px; height: 18px; line-height: 500px; overflow: hidden; background-repeat: no-repeat; background-size: 18px; }

.icon_btn.btn_gl_del { background-image: url("../../images/common/ico_close_14.png"); background-position: 50%; background-size: 15px; }

.icon_btn.btn_gl_like { background-image: url("../../images/common/ico_like_goods.png"); background-position: 50%; }

.icon_btn.btn_gl_restock { background-image: url("../../images/common/ico_restock.png"); background-position: 50%; }

.icon_btn.btn_gl_store { background-image: url("../../images/common/ico_store.png"); background-position: 50%; }

.icon_btn.btn_gl_delivery_change { background-image: url("../../images/common/ico_delivery_change.png"); background-position: 50%; background-size: 16px; }

.icon_btn.icon_btn_on.btn_gl_like { background-image: url("../../images/common/ico_like_goods_on.png"); background-position: 50%; }

.icon_btn.icon_btn_on.btn_gl_restock { background-image: url("../../images/common/ico_restock_on.png"); background-position: 50%; }

.icon_btn.icon_btn_on.btn_gl_store { background-image: url("../../images/common/ico_store_on.png"); background-position: 50%; }

.btn_input_reset { display: none; position: absolute; top: 13px; right: 80px; width: 10px; height: 10px; background: url("../../images/common/ico_close_10_black.png") no-repeat 50%; -webkit-background-size: 10px auto; -khtml-background-size: 10px auto; -moz-background-size: 10px auto; -ms-background-size: 10px auto; -o-background-size: 10px auto; background-size: 10px auto; }

.btn_input_reset span { text-indent: -5000px; font-size: 0; }

.btn_input_reset.btn_input_reset_on { display: block; }

.btn_desc { padding-bottom: 30px; width: 100%; line-height: 22px; text-align: center; font-size: 15px; color: #333; }

.btn_plusbox { width: 21px; height: 21px; background: url("../../images/common/ico_plusbox.png") no-repeat 50%; -webkit-background-size: 9px auto; -khtml-background-size: 9px auto; -moz-background-size: 9px auto; -ms-background-size: 9px auto; -o-background-size: 9px auto; background-size: 9px auto; border: 1px solid #ddd; }

.btn_plusbox span { text-indent: -5000px; font-size: 0; }

.btn_more_action { width: 21px; height: 21px; background: url("../../images/common/ico_three_dot.png") no-repeat 50%; -webkit-background-size: auto 15px; -khtml-background-size: auto 15px; -moz-background-size: auto 15px; -ms-background-size: auto 15px; -o-background-size: auto 15px; background-size: auto 15px; }

.btn_share { width: 45px; height: 40px; background: url("../../images/common/ico_share.png") no-repeat 50%; -webkit-background-size: auto 17px; -khtml-background-size: auto 17px; -moz-background-size: auto 17px; -ms-background-size: auto 17px; -o-background-size: auto 17px; background-size: auto 17px; border: 1px solid #ddd; }

.btn_share span { text-indent: -5000px; font-size: 0; }

.btn_trash { width: 14px; height: 17px; background: url("../../images/common/ico_trash.png") no-repeat 50%; -webkit-background-size: 14px auto; -khtml-background-size: 14px auto; -moz-background-size: 14px auto; -ms-background-size: 14px auto; -o-background-size: 14px auto; background-size: 14px auto; }

.btn_trash span { text-indent: -5000px; font-size: 0; }

.btn_setup { display: inline-block; width: 18px; height: 18px; background: url("../../images/common/ico_setup.png") no-repeat 50%; -webkit-background-size: 17px auto; -khtml-background-size: 17px auto; -moz-background-size: 17px auto; -ms-background-size: 17px auto; -o-background-size: 17px auto; background-size: 17px auto; }

.btn_setup span { text-indent: -5000px; font-size: 0; }

.btn_switch { position: relative; }

.btn_switch_box { text-align: right; }

.btn_switch .switch { display: none; }

.btn_switch .switch + label { display: inline-block; position: relative; width: 45px; height: 25px; background: #fff; border-radius: 12.5px; padding: 1.5px; cursor: pointer; -webkit-transition: all 0.2s ease; -khtml-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; border: 1px solid #e1e1e1; }

.btn_switch .switch + label:before { content: ''; width: 20px; height: 20px; position: absolute; right: 1.5px; top: 1.5px; border-radius: 100%; background: #ccc; -webkit-transition: all 0.2s ease; -khtml-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }

.btn_switch .switch + label:active:before { transform: scale(0.95); }

.btn_switch .switch:checked + label { background: #8dbb6a; border: 1px solid #8dbb6a; }

.btn_switch .switch:checked + label:before { content: ''; background: #fff; right: 22px; }

.btn_hstalk { position: fixed; right: 10px; bottom: 70px; z-index: 111; display: block; width: 63.5px; height: 63.5px; overflow: hidden; color: #fff; font-size: 12px; font-weight: 700; line-height: 1; text-align: center; background: url("../../images/common/ico_hstalk.png") no-repeat; -webkit-background-size: 63.5px auto; -khtml-background-size: 63.5px auto; -moz-background-size: 63.5px auto; -ms-background-size: 63.5px auto; -o-background-size: 63.5px auto; background-size: 63.5px auto; }

.btn_hs_promotion { position: fixed; right: 10px; bottom: 155px; z-index: 111; display: block; width: 80px; height: 82px; overflow: hidden; color: #fff; font-size: 12px; font-weight: 700; line-height: 1; text-align: center; background: url("../../images/common/ico_promotion.png") no-repeat; -webkit-background-size: 80px auto; -khtml-background-size: 80px auto; -moz-background-size: 80px auto; -ms-background-size: 80px auto; -o-background-size: 80px auto; background-size: 80px auto; -webkit-transform: translateY(0); -khtml-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: all 0.3s ease-in-out; -khtml-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; opacity: 1; }

.btn_hs_promotion.upper { -webkit-transform: translateY(-50px); -khtml-transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); transform: translateY(-50px); opacity: 0; }

/* buttons e ================================================ */
/* ---------------------------------------------------------- */
/* table s ================================================== */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { .responsive_table { /* Force table to not be like tables anymore */ /* Hide table headers (but not display: none;, for accessibility) */ /* Label the data You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow. */ }
  .responsive_table table, .responsive_table thead, .responsive_table tbody, .responsive_table th, .responsive_table td, .responsive_table tr { display: block; }
  .responsive_table thead tr { position: absolute; top: -9999px; left: -9999px; }
  .responsive_table tr:nth-child(odd) { background: #ddd; }
  .responsive_table td { /* Behave  like a "row" */ border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 40% !important; }
  .responsive_table td:before { /* Now like a table header */ position: absolute; /* Top/left values mimic padding */ top: 0; left: 6px; width: 40%; padding: inherit; padding-left: 10px; white-space: nowrap; }
  .responsive_table td:nth-of-type(1):before { content: "First Name"; }
  .responsive_table td:nth-of-type(2):before { content: "Last Name"; }
  .responsive_table td:nth-of-type(3):before { content: "Job Title"; }
  .responsive_table td:nth-of-type(4):before { content: "Favorite Color"; }
  .responsive_table td:nth-of-type(5):before { content: "Wars of Trek?"; }
  .responsive_table td:nth-of-type(6):before { content: "Secret Alias"; }
  .responsive_table td:nth-of-type(7):before { content: "Date of Birth"; }
  .responsive_table td:nth-of-type(8):before { content: "Dream Vacation City"; }
  .responsive_table td:nth-of-type(9):before { content: "GPA"; }
  .responsive_table td:nth-of-type(10):before { content: "Arbitrary Data"; } }

/* table e ================================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* mypage s ================================================= */
.markup_list_wrap { position: relative; min-width: 320px; padding: 0 10px 20px; font-size: 1.4em; }

.markup_list_wrap .markup_list_top { position: relative; padding: 10px 0; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { .markup_list_wrap .markup_list_top { position: fixed; top: 0; left: 0; padding: 0 10px; width: 100%; height: 75px; background: #fff; z-index: 1; border-bottom: 1px solid #f1f1f1; } }

.markup_list_wrap .markup_list_top h1 { float: left; margin-top: 25px; color: #333; font-weight: 800; font-size: 34px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { .markup_list_wrap .markup_list_top h1 { float: right; font-size: 24px; } }

.markup_list_wrap .markup_list_top img { position: absolute; top: 20px; left: 50%; margin-left: -83px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { .markup_list_wrap .markup_list_top img { top: 10px; left: 10px; margin-left: 0; } }

.markup_list_wrap .markup_list_mid { padding-bottom: 40px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { .markup_list_wrap .markup_list_mid { padding-top: 70px; } }

.markup_list_wrap .markup_list_btm { position: absolute; left: 0; bottom: 0; padding: 20px 0 18px; width: 100%; font-weight: 300; font-size: 14px; color: #eee; text-align: center; background: #333; }

.markup_list_wrap .markup_list_btm b { color: #8dbb6a; }

.markup_list_wrap .markup_list_btm .copy_t { font-size: 11px; }

.markup_list_wrap .markup_list_status_txt { clear: both; padding: 15px 10px 5px; border-bottom: 1px solid #eeeeee; }

.markup_list_wrap .markup_list_status_txt:after { clear: both; display: block; content: ''; }

.markup_list_wrap .markup_list_status_txt .left { float: left; }

.markup_list_wrap .markup_list_status_txt .left a { color: #ff5555; text-decoration: underline; }

.markup_list_wrap .markup_list_status_txt .right { float: right; font-size: 0; }

.markup_list_wrap .markup_list_status_txt span { margin-left: 5px; display: inline-block; zoom: 1; *display: inline; font-size: 11px; }

.markup_list_wrap .normal, .markup_list_wrap .normal a { color: #333; }

.markup_list_wrap .edit, .markup_list_wrap .edit a { color: #cc3333; }

.new, .new a { color: #0066cc; }

.ing, .ing a { color: #336600; }

.del, .del a { color: #999; text-decoration: line-through !important; }

.del span, .del a span { text-decoration: line-through; }

.markup_list_table { margin-bottom: 40px; width: 100%; border-left: 1px solid #eee; }

.markup_list_table th { padding: 10px 5px; font-weight: 600; font-size: 14px; color: #fff; background: #333; text-align: center; border-right: 1px solid #eee; }

.markup_list_table td { padding: 10px 5px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; text-align: center; }

.markup_list_table tr.normal.on td { background: #333; }

.markup_list_table tr.edit.on td { background: #cc3333; }

.markup_list_table tr.new.on td { background: #cc3333; }

.markup_list_table tr.ing.on td { background: #336600; }

.markup_list_table tr.del.on td { background: #333; }

.markup_list_table tr.on td, .markup_list_table tr.on td a { color: #fff; }

.markup_list_table .pg_url { text-align: left; }

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) { .markup_list_table td, .markup_list_table td:before { text-align: left; }
  .markup_list_table td:nth-of-type(1):before { content: "No."; }
  .markup_list_table td:nth-of-type(2):before { content: "Depth 1"; }
  .markup_list_table td:nth-of-type(3):before { content: "Depth 2"; }
  .markup_list_table td:nth-of-type(4):before { content: "Depth 3"; }
  .markup_list_table td:nth-of-type(5):before { content: "화면명"; }
  .markup_list_table td:nth-of-type(6):before { content: "화면ID"; }
  .markup_list_table td:nth-of-type(7):before { content: "URL"; }
  .markup_list_table td:nth-of-type(8):before { content: "진행상태"; }
  .markup_list_table td:nth-of-type(9):before { content: "수정일"; }
  .markup_list_table td:nth-of-type(10):before { content: "비고"; } }

/* mypage e ================================================= */
/* ---------------------------------------------------------- */

/*# sourceMappingURL=../css/markup-list.css.map */
