@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* buttons s ================================================ */
.btn_wrap .btn { display: inline-block; font-size: 1.6em; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .btn_wrap .btn { font-size: 1.4em; } }

.btn_full { width: 100%; text-align: center; }

.btn_square { padding: 15px 25px; color: #fff !important; background: #8dbb6a; }

.btn_square_b { padding: 10px 40px 10px 10px; color: #fff !important; background: #323232 url("../images/pages/icon_arrow_btn_g.png") no-repeat 90% 50%; border: 1px solid #ddd; }

.btn_square_w { padding: 10px 40px 10px 10px; color: #333; background: url("../images/pages/icon_arrow_btn_b.png") no-repeat 90% 50%; border: 2px solid #333; }

.btn_square_w:hover { color: #fff; background: url("../images/pages/icon_arrow_btn_g.png") no-repeat 90% 50%; }

.btn_dot_square { padding: 20px 37px 19px 60px; color: #333; line-height: 19px; border: 1px solid #ddd; }

.btn_dot_square:before { content: url("../images/pages/icon_list_btn_gray.png"); position: absolute; top: 50%; margin-top: -9px; margin-left: -23px; }

.btn_dot_square:hover { color: #57823a; border: 1px solid #57823a; }

.btn_dot_square:hover:before { content: url("../images/pages/icon_list_btn_green.png"); }

@media only screen and (min-width: 320px) and (max-width: 768px) { .btn_dot_square { padding: 12px 37px 12px 60px; } }

.btn_arrow_view .btn_arrow_square_l, .btn_arrow_view .btn_arrow_square_r { width: 57px; height: 57px; border: 1px solid #ddd; }

.btn_arrow_view .btn_arrow_square_l span, .btn_arrow_view .btn_arrow_square_r span { text-indent: -5000px; font-size: 0; }

.btn_arrow_view .btn_arrow_square_l { background: url("../images/pages/icon_arrow_viewbtn_l.png") no-repeat 50%; }

.btn_arrow_view .btn_arrow_square_l:hover { border: 1px solid #57823a; background: url("../images/pages/icon_arrow_viewbtn_l_over.png") no-repeat 50%; }

.btn_arrow_view .btn_arrow_square_r { background: url("../images/pages/icon_arrow_viewbtn_r.png") no-repeat 50%; }

.btn_arrow_view .btn_arrow_square_r:hover { border: 1px solid #57823a; background: url("../images/pages/icon_arrow_viewbtn_r_over.png") no-repeat 50%; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .btn_arrow_view .btn_arrow_square_l, .btn_arrow_view .btn_arrow_square_r { width: 45px; height: 45px; } }

.efc_btn_1 { position: relative; overflow: hidden; }

.efc_btn_1:after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: #eee; -webkit-transform: translateX(-100%); -khtml-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: transform 0.2s ease-in-out; -khtml-transition: transform 0.2s ease-in-out; -moz-transition: transform 0.2s ease-in-out; -ms-transition: transform 0.2s ease-in-out; -o-transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; z-index: -1; }

.efc_btn_1:hover:after { -webkit-transform: translateX(0); -khtml-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); -webkit-transition: transform 0.2s ease-in-out; -khtml-transition: transform 0.2s ease-in-out; -moz-transition: transform 0.2s ease-in-out; -ms-transition: transform 0.2s ease-in-out; -o-transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; }

.efc_btn_2 { position: relative; overflow: hidden; }

.efc_btn_2:after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: #333; -webkit-transform: translateX(-100%); -khtml-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); -webkit-transition: transform 0.2s ease-in-out; -khtml-transition: transform 0.2s ease-in-out; -moz-transition: transform 0.2s ease-in-out; -ms-transition: transform 0.2s ease-in-out; -o-transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; z-index: -1; }

.efc_btn_2:hover:after { -webkit-transform: translateX(0); -khtml-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); -webkit-transition: transform 0.2s ease-in-out; -khtml-transition: transform 0.2s ease-in-out; -moz-transition: transform 0.2s ease-in-out; -ms-transition: transform 0.2s ease-in-out; -o-transition: transform 0.2s ease-in-out; transition: transform 0.2s ease-in-out; }

.top_btn { position: absolute; bottom: 200px; right: 20px; position: fixed; display: block; width: 50px; height: 50px; background-color: #333; z-index: -1; overflow: hidden; opacity: 0; -webkit-transform: translateY(0); -khtml-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); -webkit-transition: all 0.3s ease-in-out; -khtml-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .top_btn { bottom: 20px; } }

.top_btn.active { z-index: 999; opacity: 1; }

.top_btn.upper { -webkit-transform: translateY(-50px); -khtml-transform: translateY(-50px); -moz-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); transform: translateY(-50px); }

.top_btn span { display: block; padding-top: 25px; width: 50px; height: 50px; font-weight: 700; font-size: 1.4em; text-align: center; color: #fff !important; background: url("../images/common/icon_small_arrow_w_up.gif") no-repeat 50% 10px; }

/* buttons e ================================================ */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* table s ================================================== */
.view_table { border-top: 2px solid #999; border-left: 1px solid #999; }

.view_table td, .view_table th { padding: 5px 0 6px; font-size: 1.4em; text-align: center; border-right: 1px solid #999; border-bottom: 1px solid #999; }

.view_table th { background: #eee; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .responsive_table { /* Force table to not be like tables anymore */ /* Hide table headers (but not display: none;, for accessibility) */ /* Label the data You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow. */ }
  .responsive_table table, .responsive_table thead, .responsive_table tbody, .responsive_table th, .responsive_table td, .responsive_table tr { display: block; }
  .responsive_table thead tr { position: absolute; top: -9999px; left: -9999px; }
  .responsive_table tr:nth-child(odd) { background: #ddd; }
  .responsive_table td { /* Behave  like a "row" */ border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 40% !important; }
  .responsive_table td:before { /* Now like a table header */ position: absolute; /* Top/left values mimic padding */ top: 0; left: 6px; width: 40%; padding: inherit; padding-left: 10px; white-space: nowrap; }
  .responsive_table td:nth-of-type(1):before { content: "First Name"; }
  .responsive_table td:nth-of-type(2):before { content: "Last Name"; }
  .responsive_table td:nth-of-type(3):before { content: "Job Title"; }
  .responsive_table td:nth-of-type(4):before { content: "Favorite Color"; }
  .responsive_table td:nth-of-type(5):before { content: "Wars of Trek?"; }
  .responsive_table td:nth-of-type(6):before { content: "Secret Alias"; }
  .responsive_table td:nth-of-type(7):before { content: "Date of Birth"; }
  .responsive_table td:nth-of-type(8):before { content: "Dream Vacation City"; }
  .responsive_table td:nth-of-type(9):before { content: "GPA"; }
  .responsive_table td:nth-of-type(10):before { content: "Arbitrary Data"; } }

/* table e ================================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* mypage s ================================================= */
.markup_list_wrap { position: relative; min-width: 320px; padding: 0 10px 20px; font-size: 1.4em; }

.markup_list_wrap .markup_list_top { position: relative; padding: 10px 0; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .markup_list_wrap .markup_list_top { position: fixed; top: 0; left: 0; padding: 0 10px; width: 100%; height: 75px; background: #fff; z-index: 1; border-bottom: 1px solid #f1f1f1; } }

.markup_list_wrap .markup_list_top h1 { float: left; margin-top: 25px; color: #333; font-weight: 800; font-size: 34px; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .markup_list_wrap .markup_list_top h1 { float: right; font-size: 24px; } }

.markup_list_wrap .markup_list_top img { position: absolute; top: 20px; left: 50%; margin-left: -83px; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .markup_list_wrap .markup_list_top img { top: 10px; left: 10px; margin-left: 0; } }

.markup_list_wrap .markup_list_mid { padding-bottom: 40px; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .markup_list_wrap .markup_list_mid { padding-top: 70px; } }

.markup_list_wrap .markup_list_btm { position: absolute; left: 0; bottom: 0; padding: 20px 0 18px; width: 100%; font-weight: 300; font-size: 14px; color: #eee; text-align: center; background: #333; }

.markup_list_wrap .markup_list_btm b { color: #8dbb6a; }

.markup_list_wrap .markup_list_btm .copy_t { font-size: 11px; }

.markup_list_wrap .markup_list_status_txt { clear: both; padding: 15px 10px 5px; border-bottom: 1px solid #eeeeee; }

.markup_list_wrap .markup_list_status_txt:after { clear: both; display: block; content: ''; }

.markup_list_wrap .markup_list_status_txt .left { float: left; }

.markup_list_wrap .markup_list_status_txt .left a { color: #ff5555; text-decoration: underline; }

.markup_list_wrap .markup_list_status_txt .right { float: right; font-size: 0; }

.markup_list_wrap .markup_list_status_txt span { margin-left: 5px; display: inline-block; zoom: 1; *display: inline; font-size: 11px; }

.markup_list_wrap .normal, .markup_list_wrap .normal a { color: #666; }

.markup_list_wrap .edit, .markup_list_wrap .edit a { color: #cc3333; }

.new, .new a { color: #0066cc; }

.ing, .ing a { color: #336600; }

.del, .del a { color: #999; text-decoration: line-through !important; }

.del span, .del a span { text-decoration: line-through; }

.markup_list_table { margin-bottom: 40px; width: 100%; border-left: 1px solid #eee; }

.markup_list_table th { padding: 10px 5px; font-weight: 600; font-size: 14px; color: #fff; background: #333; text-align: center; border-right: 1px solid #eee; }

.markup_list_table td { padding: 10px 5px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; text-align: center; }

.markup_list_table tr.normal.on td { background: #666; }

.markup_list_table tr.edit.on td { background: #cc3333; }

.markup_list_table tr.new.on td { background: #0066cc; }

.markup_list_table tr.ing.on td { background: #336600; }

.markup_list_table tr.del.on td { background: #333; }

.markup_list_table tr.on td, .markup_list_table tr.on td a { color: #fff; }

.markup_list_table .pg_url { text-align: left; }

@media only screen and (min-width: 320px) and (max-width: 768px) { .markup_list_table td, .markup_list_table td:before { text-align: left; }
  .markup_list_table td:nth-of-type(1):before { content: "No."; }
  .markup_list_table td:nth-of-type(2):before { content: "Depth 1"; }
  .markup_list_table td:nth-of-type(3):before { content: "Depth 2"; }
  .markup_list_table td:nth-of-type(4):before { content: "Depth 3"; }
  .markup_list_table td:nth-of-type(5):before { content: "화면명"; }
  .markup_list_table td:nth-of-type(6):before { content: "화면ID"; }
  .markup_list_table td:nth-of-type(7):before { content: "URL"; }
  .markup_list_table td:nth-of-type(8):before { content: "진행상태"; }
  .markup_list_table td:nth-of-type(9):before { content: "수정일"; }
  .markup_list_table td:nth-of-type(10):before { content: "비고"; } }

/* mypage e ================================================= */
/* ---------------------------------------------------------- */

/*# sourceMappingURL=../css/markup-list.css.map */
