@charset "UTF-8";
// ========================================================== */
// file   : etc.scss
// wirter : Ryu
// date   : 20190901
// ========================================================== */
/* ---------------------------------------------------------- */
/* etc s ==================================================== */
//plugin 초기화
// jquery.mobile-1.4.5
.ui-page-theme-a a:visited, 
html .ui-bar-a a:visited, 
html .ui-body-a a:visited, 
html body .ui-group-theme-a a:visited {color:$default_fc;}
.ui-page-theme-a a, 
html .ui-bar-a a, 
html .ui-body-a a, 
html body .ui-group-theme-a a {color:$default_fc; font-weight:inherit;}
.ui-mobile-viewport {@include css3-prefix(tap-highlight-color,transparent);}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {text-shadow:none;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {background:initial;}
/* etc e ==================================================== */
/* ---------------------------------------------------------- */