@charset "UTF-8";
// ========================================================== */
// file   : content.scss
// wirter : Ryu
// date   : 20190901
// ========================================================== */
/* ---------------------------------------------------------- */
/* content s ================================================ */

//본문바로가기메뉴
.skip_menu {
  position:absolute;
  width:100%;
  text-align:center;
  color:#333;
  top:-80px;
  opacity:1;
  z-index:100;
  @include background-opacity(#fff, $opacity: 0.85);
  a {
    display:block;
    width:100%;
    line-height:30px;
    &:hover {
      color:#fff;
      @include background-opacity(#000, $opacity: 0.85);  
    }
  }
  &.on {
    top:0;
    //@include transform(translateY(80px));
    //@include transition(transform .2s ease-in-out);
  }
}

//타이틀
.title_square_b {
  margin-right:10px;
  padding:10px 20px;
  font-weight:$fwB;
  font-size:1.8em;
  color:#fff;
  background:#323232;
}

.big_point_t {
  font:{
    family:$second_font;
    weight:$fwEB !important;
    size:4em;
  };
  color:$point_clr !important;
  letter-spacing:0.025em;
  line-height:40px;
}

//breadcrumb
.breadcrumb_wrap {
  height:$breadcrumb_h;
  background:#fff;
  > li {
    position:relative;
    float:left;
    > a {
      display:inline-block;
      width:100%;
      height:100%;
    }
  }
  border-bottom:1px solid $border_clr2;
  .brd_d1 {
    width:$breadcrumb_h;
    height:100%;
    background:$point_clr;
    a {
      @include txt_idt();
      background:url("#{$img_url}#{$img_pages_url}icon_home.png") no-repeat 50%;
    }
    @include media-screen {
      display:none;
    }
  }
  .brd_d2,
  .brd_d3 {
    > a {
      line-height:$breadcrumb_h;
      font-size:1.8em;
    }
  }
  .brd_d2 {
    > a {
      padding-right:60px;
      padding-left:20px;
      border-right:1px solid $border_clr2;
    }
  }
  .brd_d3 {
    > a {
      padding-right:80px;
      padding-left:20px;
      background:url("#{$img_url}#{$img_pages_url}icon_plus.png") no-repeat;
      background-position:calc(100% - 20px);
      border-right:1px solid $border_clr2;
    }
    &.on {
      background:$white_gray2;
    }
  }
  .leef{
    position:relative;
  }
  .brd_select {
    display:none;
    @include posa-tl($breadcrumb_h,0);
    width:100%;
    border-top:1px solid $border_clr2;
    border-bottom:1px solid $border_clr2;
    li {
      width:100%;
      background:$white;
      border-right:1px solid $border_clr2;
      border-left:1px solid $border_clr2;
      &:first-child {
        padding-top:10px;
      }&:last-child {
        padding-bottom:10px;
      }
      > a {
        display:inline-block;
        padding-left:20px;
        width:100%;
        height:36px;
        line-height:36px;
        font-size:1.6em;
      }
      &:hover {
        background:$white_gray2;
      }
    }
  }
  .sns_quick_menu {
    .sns_q_fb {}
    .sns_q_in {}
    .sns_q_blog {}
    .sns_q_prt {}
  }
  a {
    &:hover {
      color:$default_fc;
    }
  }
}
.sns_quick_menu {
  @include posa_br(0,0);
  li {
    float:left;
    margin-left:1px;
    width:$breadcrumb_h;
    height:$breadcrumb_h;
    @include txt_idt();
    a {
      display:block;
      width:100%;
      height:100%;
      background:url("#{$img_url}#{$img_pages_url}icon_subtop_sns.jpg");
    }
  }
  .sns_q_fb a,
  .sns_q_fb a:hover {
    @include bg-pst(0, 0);
  }
  .sns_q_blog a,
  .sns_q_blog a:hover {
    @include bg-pst(111px, 0);
  }
  .sns_q_in a,
  .sns_q_in a:hover {
    @include bg-pst(167px, 0);
  }
  .sns_q_prt a,
  .sns_q_prt a:hover {
    @include bg-pst(55px, 0);
  }
  @include media-screen {
    bottom:94px;
    right:$con_pd2;
    li {
      width:40px;
      height:40px;
      &.sns_q_prt {
        display:none;
      }
      a {
        background:url("#{$img_url}#{$img_pages_url}icon_subtop_sns_m.jpg");
      }
    }
    .sns_q_fb a,
    .sns_q_fb a:hover {
      @include bg-pst(0, 0);
    }
    .sns_q_blog a,
    .sns_q_blog a:hover {
      @include bg-pst(81px, 0);
    }
    .sns_q_in a,
    .sns_q_in a:hover {
      @include bg-pst(160px, 0);
    }
  }
}

//swiper
.swiper-container{
  position:relative; 
  margin:0 auto; 
  padding:0; 
  overflow:hidden; 
  list-style:none; 
  z-index:1;
}
.swiper-wrapper{
  position:relative; 
  width:100%; 
  height:100%; 
  z-index:1; 
  display:-webkit-box; 
  display:-webkit-flex; 
  display:-ms-flexbox; 
  display:flex; 
  -webkit-transition-property:-webkit-transform; 
  transition-property:-webkit-transform; 
  -o-transition-property:transform; 
  transition-property:transform; 
  transition-property:transform,-webkit-transform; 
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
}
.swiper-slide{
  float:left;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  /*display: -webkit-flex;*/
  /*display: flex;*/
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* Center slide text vertically */
  -webkit-flex-shrink:0; 
  -ms-flex-negative:0; 
  flex-shrink:0; 
  height:100%; 
  position:relative; 
  -webkit-transition-property:-webkit-transform; 
  transition-property:-webkit-transform; 
  -o-transition-property:transform; 
  transition-property:transform; 
  transition-property:transform,-webkit-transform;
}
.swiper-pagination {
  position:absolute; 
  /* background:rgba(255,255,255,.3); */
  /* height:2px; */
  -webkit-transition:.3s 
  opacity; -o-transition:.3s opacity; 
  transition:.3s opacity; 
  -webkit-transform:translate3d(0,0,0); 
  transform:translate3d(0,0,0); 
  z-index:10; 
  padding:0; 
  overflow:hidden;
}
.swiper-pagination-progressbar{
  position:absolute; 
  background:rgba(255,255,255,.3);
}
.swiper-container-horizontal>.swiper-pagination-progressbar{
  top:auto; 
  bottom:0; 
  left:0; 
  width:100%; 
  height:2px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  position:absolute; left:0; top:0;
  width:100%; height:100%; 
  background:#222;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}

.swiper-scrollbar{
  width:80px;
  height:2px;
  margin:10px auto;
  background:#e8e8e8; 
  .swiper-scrollbar-drag{
    height:100%;
    background:#222;
  }
}
.swiper-pagination-bullet {
  opacity:1;
}

//ul_dot
.ul_dot {
  li {
    padding-left:10px;
    background:url("#{$img_url}#{$img_pages_url}icon_li_dot.jpg") no-repeat 0 6px;
  }
}

//div_h
.div_h {
  position:relative;
  padding-left:20px;
  &:before {
    display:inline-block;
    clear:both;
    content:'';
    @include posa_tl(0px,8px);
    width:1px;
    height:12px;
    background:$light_gray;
  }
  &.div_h_mo {
    padding-left:0;
    &:before {
      display:none !important;
    }
  }
}

.point_clr {
  color:$point_clr !important;
}
.point_clr2 {
  color:$point_clr2 !important;
}
/* content e ================================================ */
/* ---------------------------------------------------------- */