@charset "UTF-8";
// ========================================================== */
// file   : container.scss
// wirter : Ryu
// date   : 20190901
// ========================================================== */
/* ---------------------------------------------------------- */
/* container s ============================================== */
body {
	&.hold_body {overflow:hidden;}
	&.scr_pc {
		.only_pc {display:block;}		
		.only_mo {display:none;}
	}
	&.scr_mo {
		overflow-x:hidden;
		.only_pc {display:none;}
		.only_mo {display:block;}		
	}
}

.container {
	width:100%;
	overflow-x:hidden;
}

.grid_wrap {
	margin:0 auto;
	width:$mid_wrap_w;
	@include media-screen {
		width:100%;
	}
}

.contents {clear:both;}
/* container e ============================================== */
/* ---------------------------------------------------------- */