@charset "UTF-8";
// ========================================================== */
// file   : container.scss
// wirter : Ryu
// date   : 20190901
// ========================================================== */
/* ---------------------------------------------------------- */
/* container s ============================================== */
body {
	&.hold_body {overflow:hidden;}
}

.grid_wrap {
	margin:0 auto;
	width:$mid_wrap_w;
	@include media-screen {
		width:100%;
	}
}

.contents {clear:both;}
/* container e ============================================== */
/* ---------------------------------------------------------- */