@charset "UTF-8";
// ========================================================== */
// file   : variables.scss
// wirter : Ryu
// date   : 20190901
// ========================================================== */
// ---------------------------------------------------------- */
// variables s ============================================== */

// font
$default_font: 'NanumSquare';
//$default_font: 'Apple SD Gothic Neo';
//$default_font: 'malgun gothic';
//$second_font: 'Nanum-Gothic';
$second_font: 'Lato';

$fwEL: 100;
$fwL: 300;
$fwR: 400;
$fwS: 600;
$fwB: 700;
$fwEB: 900; 
$default_fc: #333;
$gray_fc: #666;
$gray_fc2: #888;
$light_gray_fc: #aaa;
$footer_fc:#989898;

//color
$white: #fff;
$black: #222;
$light_gray: #999;
$light_black: #999;
$white_gray: #f1f1f1;
$white_gray2: #eee;
$camel: #c69c6d;
$gray: #666;
$red: #f00;

$point_clr: #8dbb6a;
$point_clr2: #57823a;

$border_clr: #f1f1f1;
$border_clr2: #ddd;
$border_clr3: #999;
$border_clr4: #ccc;
$footer_bg_clr:#202020;

//btn
$df_h_s: 35px;
$df_h_m: 40px;
$df_h_l: 50px;

//layout
$lnb_item_w:199.91px;
$mo_header_h:60px;
$mid_wrap_w: 1200px;
$con_mg: 10px;
$con_mg2: 20px;
$con_pd: 10px;
$con_pd2: 20px;
$con_pd3: 30px;
$con_pd_s: 15px;
$con_pd_m: 25px;
$con_pd_l: 35px;

$mo_con_pd: 20px;

//media queries
$w_pc: 1024px;
$w_tab: 768px;
$w_mo: 320px;

$full: 1920px;
$w_max: 1024px;
$w_mid: 768px;
$w_min: 320px;

$middle: 1600px;
$narrow: 1280px;

//url
$img_url: '../images/';
$img_common_url: 'common/';
$img_main_url: 'main/';
$img_pages_url: 'pages/';
$img_intro_url: 'intro/';
$img_village_url: 'village/';
$img_tower_url: 'tower/';
$img_theme_url: 'theme/';
$img_cs_url: 'cs/';

//table
$resp_th_w: 40%;
$resp_td_w: 60%;

//motion
$slide_time: 300;

//pages
$breadcrumb_h:55px;
//
$card-color: (
	'bc':#e83d44,
	'hana':#008598,
	'hyundai':#566582,
	'kb':#776c61,
	'lotte':#5c49d9,
	'nh':#37b978,
	'samsung':#188cd6,
	'shinhan':#91acc4
);
$card-fontcolor: (
	'bc':#fff,
	'hana':#fff,
	'hyundai':#fff,
	'kb':#fff,
	'lotte':#fff,
	'nh':#fff,
	'samsung':#fff,
	'shinhan':#fff
);

//notification
$n-kind-name: (
	'athome',
	'coupon',
	'delivery',
	'event',
	'expire',
	'fitting',
	'gift',
	'member',
	'new',
	'order',
	'pickup',
	'plus',
	'qna',
	'repair',
	'repair_2',
	'return',
	'sale'
);
// variables e ============================================== */
// ---------------------------------------------------------- */